@import 'reset';
@import 'colors';
@import 'mixins';
@import 'headings';
@import 'spacing';
@import 'globals';
@import 'style-classes';

/* div::before{
	padding: 2em 0;
	content: "";
} */

.accordian {
	// this should reveal the content slowly top down
	transition: 0.5s ease;
	.accordian-button {
		color: $gray-800;
		background: $gray-100;
		padding: 0.5em;
		width: 100%;
		font-size: 16px;
		font-weight: 300;
		font-family: 'Lato', sans-serif;
		margin-top: 0.5em;
		text-align: center;
		&:before {
			content: 'Show ';
		}
	}
	details[open] {
		.accordian-button {
			&:before {
				content: 'Hide ';
			}
		}
	}
	// > *:not(.accordian-show-content) {
	// 	display: none;
	// }
}

// for use interally on this site

.circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid $gray-900;
}

.color-row {
	> div {
		padding: 20px 10px;
	}
}

.color-test {
	height: 25px;
	width: 100px;
}
